In [1]:
import pandas as pd
import os

In [2]:
cwd = os.getcwd()
song_path = cwd + '/data/song_data'
log_path = cwd + '/data/log_data/2018/11'

### Loading Song Data

In [3]:
song_df = pd.DataFrame()
def traverseFiles(path):
    global song_df
    if path[-5:] == '.json' :
        tem_df = pd.read_json(path, lines=True)
        song_df = pd.concat([song_df,tem_df],axis=0,ignore_index=True)
    if path[-5:] != '.json' :
        tem = os.listdir(path)
        while len(tem) != 0 :
            t = tem.pop(0)
            if t[0] != '.' :
                traverseFiles(path + '/' + t)
traverseFiles(song_path)
song_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
1,1,AR8ZCNI1187B9A069B,NaN,NaN,,Planet P Project,SOIAZJW12AB01853F1,Pink World,269.81832,1984
2,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007
3,1,AR10USD1187B99F3F1,NaN,NaN,"Burlington, Ontario, Canada",Tweeterfriendly Music,SOHKNRJ12A6701D1F8,Drop of Rain,189.57016,0
4,1,ARGSJW91187B9B1D6B,35.21962,-80.01955,North Carolina,JennyAnyKind,SOQHXMF12AB0182363,Young Boy Blues,218.77506,0
...,...,...,...,...,...,...,...,...,...,...
66,1,ARAGB2O1187FB3A161,NaN,NaN,,Pucho & His Latin Soul Brothers,SOLEYHO12AB0188A85,Got My Mojo Workin,338.23302,0
67,1,AR62SOJ1187FB47BB5,NaN,NaN,,Chase & Status,SOGVQGJ12AB017F169,Ten Tonne,337.68444,2005
68,1,ARBEBBY1187B9B43DB,NaN,NaN,"Gainesville, FL",Tom Petty,SOFFKZS12AB017F194,A Higher Place (Album Version),236.17261,1994
69,1,ARNNKDK1187B98BBD5,45.80726,15.96760,Zagreb Croatia,Jinx,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),407.37914,0
70,1,ARGCY1Y1187B9A4FA5,36.16778,-86.77836,"Nashville, TN.",Gloriana,SOQOTLQ12AB01868D0,Clementina Santafè,153.33832,0

### Extract for building Song Dimension table

In [67]:
song_d = song_df[['song_id', 'title', 'artist_id','year', 'duration']]
song_d = song_d.drop_duplicates().reset_index(drop=True)
song_d = song_d.rename(columns={'song_id':'SONG_ID','title':'TITLE',
                                'artist_id':'ARTIST_ID','year':'YEAR','duration':'DURATION'})
song_d

,SONG_ID,TITLE,ARTIST_ID,YEAR,DURATION
0,SONHOTT12A8C13493C,Something Girls,AR7G5I41187FB4CE6C,1982,233.40363
1,SOIAZJW12AB01853F1,Pink World,AR8ZCNI1187B9A069B,1984,269.81832
2,SOFSOCN12A8C143F5D,Face the Ashes,ARXR32B1187FB57099,2007,209.60608
3,SOHKNRJ12A6701D1F8,Drop of Rain,AR10USD1187B99F3F1,0,189.57016
4,SOQHXMF12AB0182363,Young Boy Blues,ARGSJW91187B9B1D6B,0,218.77506
...,...,...,...,...,...
66,SOLEYHO12AB0188A85,Got My Mojo Workin,ARAGB2O1187FB3A161,0,338.23302
67,SOGVQGJ12AB017F169,Ten Tonne,AR62SOJ1187FB47BB5,2005,337.68444
68,SOFFKZS12AB017F194,A Higher Place (Album Version),ARBEBBY1187B9B43DB,1994,236.17261
69,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),ARNNKDK1187B98BBD5,0,407.37914
70,SOQOTLQ12AB01868D0,Clementina Santafè,ARGCY1Y1187B9A4FA5,0,153.33832

### Extract for building Artist Dimension table

In [68]:
artist_d = song_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
artist_d = artist_d.drop_duplicates().reset_index(drop=True)
artist_d = artist_d.rename(columns={'artist_id':'ARTIST_ID','artist_name':'ARTIST_NAME',
                                'artist_location':'ARTIST_LOCATION','artist_latitude':'ARTIST_LATITAUDE','artist_longitude':'ARTIST_LONGITUDE'})
artist_d

,ARTIST_ID,ARTIST_NAME,ARTIST_LOCATION,ARTIST_LATITAUDE,ARTIST_LONGITUDE
0,AR7G5I41187FB4CE6C,Adam Ant,"London, England",NaN,NaN
1,AR8ZCNI1187B9A069B,Planet P Project,,NaN,NaN
2,ARXR32B1187FB57099,Gob,,NaN,NaN
3,AR10USD1187B99F3F1,Tweeterfriendly Music,"Burlington, Ontario, Canada",NaN,NaN
4,ARGSJW91187B9B1D6B,JennyAnyKind,North Carolina,35.21962,-80.01955
...,...,...,...,...,...
64,ARAGB2O1187FB3A161,Pucho & His Latin Soul Brothers,,NaN,NaN
65,AR62SOJ1187FB47BB5,Chase & Status,,NaN,NaN
66,ARBEBBY1187B9B43DB,Tom Petty,"Gainesville, FL",NaN,NaN
67,ARNNKDK1187B98BBD5,Jinx,Zagreb Croatia,45.80726,15.96760
68,ARGCY1Y1187B9A4FA5,Gloriana,"Nashville, TN.",36.16778,-86.77836

### Loading Log Data

In [6]:
log_df = pd.DataFrame()
for file in os.listdir(log_path):
    tem_df = pd.read_json(log_path + '/' + file, lines=True)
    log_df = pd.concat([log_df,tem_df],axis=0,ignore_index=True)
log_df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8051,Motion City Soundtrack,Logged In,Stefany,F,1,White,205.26975,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,Fell In Love Without You (Acoustic),200,1543092353796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
8052,Ticanaf,Logged In,Stefany,F,2,White,2594.87302,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,The Thousand Names of Lord Shiva (Part 1),200,1543092558796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
8053,The Far East Movement,Logged In,Ryan,M,0,Smith,228.20526,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,Dance Like Michael Jackson,200,1543097750796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
8054,the bird and the bee,Logged In,Ryan,M,1,Smith,189.51791,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,You're A Cad,200,1543097978796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
8055,Shakira,Logged In,Christian,F,0,Porter,193.82812,free,"Elkhart-Goshen, IN",PUT,NextSong,1.540897e+12,366,Inevitable,200,1543103174796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",11

In [11]:
broken_down_log_df = log_df[log_df.page == 'NextSong']
broken_down_log_df['ts'] = pd.to_datetime(broken_down_log_df['ts'], unit='ms')

In [12]:
broken_down_log_df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,2018-11-11 02:33:56.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,2018-11-11 02:36:10.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,2018-11-11 02:40:34.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,2018-11-11 04:36:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,2018-11-11 04:36:46.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8051,Motion City Soundtrack,Logged In,Stefany,F,1,White,205.26975,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,Fell In Love Without You (Acoustic),200,2018-11-24 20:45:53.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
8052,Ticanaf,Logged In,Stefany,F,2,White,2594.87302,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,The Thousand Names of Lord Shiva (Part 1),200,2018-11-24 20:49:18.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
8053,The Far East Movement,Logged In,Ryan,M,0,Smith,228.20526,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,Dance Like Michael Jackson,200,2018-11-24 22:15:50.796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
8054,the bird and the bee,Logged In,Ryan,M,1,Smith,189.51791,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,You're A Cad,200,2018-11-24 22:19:38.796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
8055,Shakira,Logged In,Christian,F,0,Porter,193.82812,free,"Elkhart-Goshen, IN",PUT,NextSong,1.540897e+12,366,Inevitable,200,2018-11-24 23:46:14.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",11

### Extract for building Time Dimension table

In [69]:
time_d = pd.DataFrame({'START_TIME':broken_down_log_df.ts, 
                       'HOUR':broken_down_log_df.ts.dt.hour,
                       'DAY':broken_down_log_df.ts.dt.day, 
                       'WEEK':broken_down_log_df.ts.dt.weekofyear, 
                       'MONTH':broken_down_log_df.ts.dt.month, 
                       'YEAR':broken_down_log_df.ts.dt.year, 
                       'WEEKDAY':broken_down_log_df.ts.dt.weekday
                    
})
time_d = time_d.drop_duplicates().reset_index(drop=True)
time_d

<ipython-input-69-a17d5f5da956>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  'WEEK':broken_down_log_df.ts.dt.weekofyear,

                  START_TIME  HOUR  DAY  WEEK  MONTH  YEAR  WEEKDAY
0    2018-11-11 02:33:56.796     2   11    45     11  2018        6
1    2018-11-11 02:36:10.796     2   11    45     11  2018        6
2    2018-11-11 02:40:34.796     2   11    45     11  2018        6
3    2018-11-11 04:36:13.796     4   11    45     11  2018        6
4    2018-11-11 04:36:46.796     4   11    45     11  2018        6
...                      ...   ...  ...   ...    ...   ...      ...
6808 2018-11-24 20:45:53.796    20   24    47     11  2018        5
6809 2018-11-24 20:49:18.796    20   24    47     11  2018        5
6810 2018-11-24 22:15:50.796    22   24    47     11  2018        5
6811 2018-11-24 22:19:38.796    22   24    47     11  2018        5
6812 2018-11-24 23:46:14.796    23   24    47     11  2018        5

[6813 rows x 7 columns]

### Extract for building User Dimension table

In [74]:
user_d = broken_down_log_df[['userId', 'firstName', 'lastName', 'gender', 'level','ts']]
user_d = user_d.drop_duplicates().reset_index(drop=True)
user_d

     userId  firstName   lastName gender level                      ts
0        69   Anabelle    Simpson      F  free 2018-11-11 02:33:56.796
1        69   Anabelle    Simpson      F  free 2018-11-11 02:36:10.796
2        69   Anabelle    Simpson      F  free 2018-11-11 02:40:34.796
3        32       Lily      Burns      F  free 2018-11-11 04:36:13.796
4        75     Joseph  Gutierrez      M  free 2018-11-11 04:36:46.796
...     ...        ...        ...    ...   ...                     ...
6815     83    Stefany      White      F  free 2018-11-24 20:45:53.796
6816     83    Stefany      White      F  free 2018-11-24 20:49:18.796
6817     26       Ryan      Smith      M  free 2018-11-24 22:15:50.796
6818     26       Ryan      Smith      M  free 2018-11-24 22:19:38.796
6819     11  Christian     Porter      F  free 2018-11-24 23:46:14.796

[6820 rows x 6 columns]

In [75]:
update_df = user_d['ts'].groupby(user_d['userId']).max()
user_d = pd.merge(update_df,user_d,on=['userId','ts'])
user_d = user_d[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_d['userId'] = user_d['userId'].astype(int)
user_d = user_d.rename(columns={'userId':'USER_ID','firstName':'FIRST_NAME',
                                'lastName':'LAST_NAME','gender':'GENDER','level':'LEVEL'})

In [76]:
user_d

     USER_ID FIRST_NAME LAST_NAME GENDER LEVEL
0          3      Isaac    Valdez      M  free
1          6    Cecilia     Owens      F  free
2          7     Adelyn    Jordan      F  free
3          8     Kaylee   Summers      F  free
4         10     Sylvie      Cruz      F  free
..       ...        ...       ...    ...   ...
124       95       Sara   Johnson      F  paid
125       96     Cierra    Finley      F  free
126       97       Kate   Harrell      F  paid
127       98     Jordyn    Powell      F  free
128       99        Ann     Banks      F  free

[129 rows x 5 columns]

### Extract for building Fact table

In [77]:
broken_down_log_df = broken_down_log_df.rename(columns={'artist':'artist_name','song':'title'})
broken_down_log_df.head(5)

,artist_name,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,title,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,2018-11-11 02:33:56.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,2018-11-11 02:36:10.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,2018-11-11 02:40:34.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,2018-11-11 04:36:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,2018-11-11 04:36:46.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [78]:
merge_df = pd.merge(song_df,broken_down_log_df,how='right',on=['artist_name','title'])
merge_df = merge_df.drop_duplicates().reset_index(drop=True)
merge_df

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year,...,level,location,method,page,registration,sessionId,status,ts,userAgent,userId
0,NaN,NaN,NaN,NaN,NaN,Frumpies,NaN,Fuck Kitty,NaN,NaN,...,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,200,2018-11-11 02:33:56.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,NaN,NaN,NaN,NaN,NaN,Frumpies,NaN,Fuck Kitty,NaN,NaN,...,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,900,200,2018-11-26 14:08:50.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
2,NaN,NaN,NaN,NaN,NaN,Frumpies,NaN,Fuck Kitty,NaN,NaN,...,paid,"Waterloo-Cedar Falls, IA",PUT,NextSong,1.541023e+12,157,200,2018-11-02 11:21:14.796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,44
3,NaN,NaN,NaN,NaN,NaN,Frumpies,NaN,Fuck Kitty,NaN,NaN,...,paid,"Marinette, WI-MI",PUT,NextSong,1.540664e+12,594,200,2018-11-20 00:13:21.796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",25
4,NaN,NaN,NaN,NaN,NaN,Frumpies,NaN,Fuck Kitty,NaN,NaN,...,paid,"Lansing-East Lansing, MI",PUT,NextSong,1.540473e+12,147,200,2018-11-05 15:20:16.796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6815,NaN,NaN,NaN,NaN,NaN,Enrique Iglesias,NaN,Escape,NaN,NaN,...,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,200,2018-11-24 20:42:25.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
6816,NaN,NaN,NaN,NaN,NaN,Motion City Soundtrack,NaN,Fell In Love Without You (Acoustic),NaN,NaN,...,free,"Lubbock, TX",PUT,NextSong,1.540708e+12,867,200,2018-11-24 20:45:53.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",83
6817,NaN,NaN,NaN,NaN,NaN,The Far East Movement,NaN,Dance Like Michael Jackson,NaN,NaN,...,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,200,2018-11-24 22:15:50.796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
6818,NaN,NaN,NaN,NaN,NaN,the bird and the bee,NaN,You're A Cad,NaN,NaN,...,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,899,200,2018-11-24 22:19:38.796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
6819,NaN,NaN,NaN,NaN,NaN,Shakira,NaN,Inevitable,NaN,NaN,...,free,"Elkhart-Goshen, IN",PUT,NextSong,1.540897e+12,366,200,2018-11-24 23:46:14.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",11

In [79]:
songplays_f = pd.DataFrame({
    'SONGPLAY_ID':[i for i in range(1,len(list(merge_df.page))+1)], 
    'START_TIME':merge_df.ts, 
    'USER_ID':merge_df.userId, 
    'LEVEL':merge_df.level, 
    'SONG_ID':merge_df.song_id, 
    'ARTIST_ID':merge_df.artist_id, 
    'SESSION_ID':merge_df.sessionId, 
    'LOCATION':merge_df.location, 
    'USER_AGENT':merge_df.userAgent
})
songplays_f = songplays_f.drop_duplicates().reset_index(drop=True)
songplays_f

,SONGPLAY_ID,START_TIME,USER_ID,LEVEL,SONG_ID,ARTIST_ID,SESSION_ID,LOCATION,USER_AGENT
0,1,2018-11-11 02:33:56.796,69,free,NaN,NaN,455,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
1,2,2018-11-26 14:08:50.796,88,paid,NaN,NaN,900,"Sacramento--Roseville--Arden-Arcade, CA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
2,3,2018-11-02 11:21:14.796,44,paid,NaN,NaN,157,"Waterloo-Cedar Falls, IA",Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...
3,4,2018-11-20 00:13:21.796,25,paid,NaN,NaN,594,"Marinette, WI-MI","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK..."
4,5,2018-11-05 15:20:16.796,97,paid,NaN,NaN,147,"Lansing-East Lansing, MI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
...,...,...,...,...,...,...,...,...,...
6815,6816,2018-11-24 20:42:25.796,83,free,NaN,NaN,867,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
6816,6817,2018-11-24 20:45:53.796,83,free,NaN,NaN,867,"Lubbock, TX","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
6817,6818,2018-11-24 22:15:50.796,26,free,NaN,NaN,899,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
6818,6819,2018-11-24 22:19:38.796,26,free,NaN,NaN,899,"San Jose-Sunnyvale-Santa Clara, CA","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
6819,6820,2018-11-24 23:46:14.796,11,free,NaN,NaN,366,"Elkhart-Goshen, IN","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."