In [11]:
import pandas as pd
import os

In [169]:
cwd = os.getcwd()  # Get the current working directory (cwd)
files = os.listdir(cwd+'/data')

In [33]:
files.remove('address-1.csv')
address = pd.read_csv('data/'+'address-1.csv')
for file in files:
    tem = pd.read_csv('data/'+file)
    address = pd.concat([address,tem],axis=0,ignore_index=True)
address = address.drop_duplicates().reset_index(drop=True)

In [39]:
address.head(10)

                     Street                suburb  Postcode state  Address_ID
0         80685 Raven Plaza                Sydney      1171   NSW           1
1        57527 Hintze Court             Melbourne      8383   VIC           2
2         481 Memorial Pass  Adelaide Mail Centre      5889    SA           3
3      17743 Tennyson Drive      Australia Square      1213   NSW           4
4        81363 Larry Center                Sydney      1028   NSW           5
5      92129 Moulton Circle             Melbourne      8045   VIC           6
6           5 Troy Crossing   Northern Suburbs Mc      1694   NSW           7
7        51765 Truax Street                Sydney      1009   NSW           8
8  42253 Prairie Rose Plaza                Sydney      1109   NSW           9
9        28634 Kipling Hill   Northern Suburbs Mc      1694   NSW          10

In [36]:
address_id = [i for i in range(1,13001)]

In [38]:
address['Address_ID'] = address_id

In [49]:
postcode = address[['Postcode','state']].drop_duplicates().reset_index(drop=True)
postcode = postcode.rename(columns = {'state':'State_Code'})

In [53]:
postcode.to_csv(cwd+'/postcode.csv',index=False)

In [55]:
state_code = list(set(list(postcode.State_Code)))
state_name = state_code.copy()

In [57]:
state = pd.DataFrame()
state['State_Code'] = state_code
state['State_Name'] = state_name
state.State_Name.replace({'NSW':'New South Wales', 'VIC':'Victoria', 'WA':'Western Australia', 'SA':'South Australia', 'TAS':'Tasmania', 'QLD':'Queensland'},inplace=True)
state

  State_Code         State_Name
0        VIC           Victoria
1         WA  Western Australia
2         SA    South Australia
3        QLD         Queensland
4        TAS           Tasmania
5        NSW    New South Wales

In [58]:
state.to_csv(cwd+'/state.csv',index=False)

In [62]:
address_done = address[['Address_ID','Street','suburb','Postcode']]
address_done = address_done.rename(columns={'suburb':'Suburb'})
address_done.to_csv(cwd+'/address.csv',index=False)

In [72]:
files.remove('person-1.csv')
person = pd.read_csv('data/'+'person-1.csv')
for file in files:
    tem = pd.read_csv('data/'+file)
    person = pd.concat([person,tem],axis=0,ignore_index=True)
person = person.drop_duplicates().reset_index(drop=True)

In [96]:
person.to_csv(cwd+'/person.csv',index=False)

In [97]:
person = pd.read_csv('person.csv')

In [83]:
person

,Person_ID,Title,First_Name,Last_Name,Gender,Address_ID,Phone_No,Email
0,1,Rev,Elsy,Schiementz,Female,9335,311 200 1480,eschiementz0@github.com
1,2,Dr,Margareta,Sandeman,Male,10210,509 469 8100,msandeman1@squidoo.com
2,3,Mrs,Ethyl,Broadhead,Male,4953,617 651 4921,ebroadhead2@sun.com
3,4,Ms,Rois,Pettiford,Female,7347,309 811 9001,rpettiford3@163.com
4,5,Mrs,Alon,Ipsley,Male,10133,840 543 3190,aipsley4@un.org
...,...,...,...,...,...,...,...,...
6995,6995,Mr,Stafford,Henze,Female,6479,878 281 6046,shenzerm@hibu.com
6996,6995,Mr,Stafford,Henze,Female,6479,878 281 6046,shenzerm@hibu.com
6997,6995,Mr,Stafford,Henze,Female,6479,878 281 6046,shenzerm@hibu.com
6998,6999,Ms,Kelila,Keuning,Male,4314,323 209 7528,kkeuningrq@scientificamerican.com
6999,7000,NaN,NaN,NaN,Male,8025,545 640 2903,NaN

In [76]:
from sklearn.model_selection import train_test_split
person_add, property_add = train_test_split(address_id, test_size=0.46153846)

In [79]:
person['Address_ID'] = person_add

In [91]:
person.Title.value_counts()

Honorable    1235
Ms           1198
Mrs          1193
Mr           1155
Dr           1124
Rev          1094
Name: Title, dtype: int64

In [92]:
ttt = list(person.Title)
for i in range(len(list(person.Gender))):
    if ttt[i] != 'Dr' :
        if list(person.Gender)[i] == 'Female' and ttt[i]!='Ms':
            ttt[i] = 'Ms'
        if list(person.Gender)[i] == 'Male' and ttt[i]!='Mr':
            ttt[i] = 'Mr'

In [99]:
temm = [i for i in range(1,7001)]
tem, agent_id = train_test_split(temm, test_size=0.29)

In [100]:
agent_id = list(set(agent_id))

In [104]:
agent_id[-1] = 6997

In [105]:
len(agent_id)

2030

In [111]:
files.remove('agent-1.csv')
agent = pd.read_csv('data/'+'agent-1.csv')
for file in files:
    tem = pd.read_csv('data/'+file)
    agent = pd.concat([agent,tem],axis=0,ignore_index=True)

In [119]:
agent['Person_ID'] = agent_id
agent = agent.drop(columns=['Unnamed: 0', 'Person_id'])
agent

      Person_ID    Salary
0             1  122695.0
1             3  156276.0
2             8  162335.0
3             9  114253.0
4            12   87452.0
...         ...       ...
2025       6973   60580.0
2026       6978  128717.0
2027       6980  106841.0
2028       6994  101919.0
2029       6997   64530.0

[2030 rows x 2 columns]

In [120]:
salary = list(agent.Salary)

In [124]:
agent['Salary'] = salary

In [126]:
agent.to_csv(cwd+'/agent.csv',index=False)

In [128]:
len(temm)

7000

In [130]:
temmm = []
for i in temm:
    if i not in agent_id :
        temmm.append(i)

In [134]:
tem, client_id = train_test_split(temmm, test_size=0.69)

In [166]:
len(client_id)

3428

In [177]:
client = pd.concat([client,client1],axis=0,ignore_index=True)

In [181]:
client

      Person_ID  Min_Budget  Max_Budget
0           NaN         355         690
1           NaN         131         661
2           NaN        1188        1195
3           NaN         273        1249
4           NaN         632         802
...         ...         ...         ...
3995        NaN         334        1119
3996        NaN         523         758
3997        NaN         953        1293
3998        NaN         695         859
3999        NaN         271         419

[4000 rows x 3 columns]

In [188]:
import random
 
print(random.randint(0,1))

0

In [194]:
len(property_add)

6000

In [192]:
zz=dict(zip(list(address.Address_ID),list(address.state)))

In [193]:
property_id = [i for i in range(1,6001)]
property_type = []
property_no_of_beds = []
property_no_of_bath = []
property_no_of_garage = []
property_size = []
rent_price = []
sale_price = []
for i in range(len(property_id)) :
    rate = 1
    if zz[property_add[i]] == 'NSW':
        rate = 1.2
    elif zz[property_add[i]] in ['TAS','WA','SA'] :
        rate = 0.8
    tem_type = random.randint(0,2)
    if tem_type == 0:
        property_type.append('apartment/unit/flat')
        tem_size = random.randint(52,180)
        if tem_size < 85:
            property_no_of_beds.append(1)
            property_no_of_bath.append(1)
            if random.randint(0,1) == 1:
                property_no_of_garage.append(1)
                rent_price.append(rate*420)
            else:
                property_no_of_garage.append(0)
                rent_price.append(rate*370)

{1: 'NSW',
 2: 'VIC',
 3: 'SA',
 4: 'NSW',
 5: 'NSW',
 6: 'VIC',
 7: 'NSW',
 8: 'NSW',
 9: 'NSW',
 10: 'NSW',
 11: 'NSW',
 12: 'TAS',
 13: 'NSW',
 14: 'NSW',
 15: 'NSW',
 16: 'TAS',
 17: 'NSW',
 18: 'TAS',
 19: 'SA',
 20: 'NSW',
 21: 'TAS',
 22: 'NSW',
 23: 'NSW',
 24: 'NSW',
 25: 'WA',
 26: 'NSW',
 27: 'NSW',
 28: 'TAS',
 29: 'NSW',
 30: 'TAS',
 31: 'NSW',
 32: 'NSW',
 33: 'WA',
 34: 'TAS',
 35: 'NSW',
 36: 'NSW',
 37: 'SA',
 38: 'NSW',
 39: 'VIC',
 40: 'TAS',
 41: 'QLD',
 42: 'NSW',
 43: 'NSW',
 44: 'SA',
 45: 'NSW',
 46: 'NSW',
 47: 'NSW',
 48: 'NSW',
 49: 'SA',
 50: 'NSW',
 51: 'NSW',
 52: 'NSW',
 53: 'NSW',
 54: 'NSW',
 55: 'TAS',
 56: 'NSW',
 57: 'TAS',
 58: 'NSW',
 59: 'NSW',
 60: 'TAS',
 61: 'SA',
 62: 'TAS',
 63: 'NSW',
 64: 'SA',
 65: 'NSW',
 66: 'NSW',
 67: 'NSW',
 68: 'NSW',
 69: 'WA',
 70: 'NSW',
 71: 'NSW',
 72: 'WA',
 73: 'SA',
 74: 'SA',
 75: 'WA',
 76: 'SA',
 77: 'NSW',
 78: 'NSW',
 79: 'SA',
 80: 'SA',
 81: 'TAS',
 82: 'NSW',
 83: 'NSW',
 84: 'VIC',
 85: 'NSW',
 86: 'NSW',
 87: 'SA',
 88: 'NSW',
 89: 'SA',
 90: 'TAS',
 91: 'NSW',
 92: 'NSW',
 93: 'TAS',
 94: 'NSW',
 95: 'NSW',
 96: 'NSW',
 97: 'VIC',
 98: 'SA',
 99: 'NSW',
 100: 'NSW',
 101: 'VIC',
 102: 'NSW',
 103: 'NSW',
 104: 'NSW',
 105: 'NSW',
 106: 'NSW',
 107: 'NSW',
 108: 'TAS',
 109: 'NSW',
 110: 'WA',
 111: 'NSW',
 112: 'TAS',
 113: 'NSW',
 114: 'TAS',
 115: 'NSW',
 116: 'NSW',
 117: 'NSW',
 118: 'NSW',
 119: 'TAS',
 120: 'NSW',
 121: 'SA',
 122: 'NSW',
 123: 'NSW',
 124: 'VIC',
 125: 'WA',
 126: 'SA',
 127: 'WA',
 128: 'SA',
 129: 'NSW',
 130: 'NSW',
 131: 'SA',
 132: 'WA',
 133: 'NSW',
 134: 'SA',
 135: 'TAS',
 136: 'NSW',
 137: 'TAS',
 138: 'NSW',
 139: 'QLD',
 140: 'NSW',
 141: 'SA',
 142: 'VIC',
 143: 'NSW',
 144: 'NSW',
 145: 'NSW',
 146: 'QLD',
 147: 'NSW',
 148: 'VIC',
 149: 'NSW',
 150: 'VIC',
 151: 'TAS',
 152: 'NSW',
 153: 'NSW',
 154: 'NSW',
 155: 'SA',
 156: 'QLD',
 157: 'NSW',
 158: 'NSW',
 159: 'SA',
 160: 'SA',
 161: 'TAS',
 162: 'SA',
 163: 'SA',
 164: 'TAS',
 165: 'SA',
 166: 'NSW',
 167: 'VIC',
 168: 'NSW',
 169: 'NSW',
 170: 'TAS',
 171: 'NSW',
 172: 'WA',
 173: 'TAS',
 174: 'WA',
 175: 'NSW',
 176: 'VIC',
 177: 'NSW',
 178: 'WA',
 179: 'NSW',
 180: 'NSW',
 181: 'SA',
 182: 'QLD',
 183: 'SA',
 184: 'VIC',
 185: 'VIC',
 186: 'NSW',
 187: 'NSW',
 188: 'NSW',
 189: 'NSW',
 190: 'NSW',
 191: 'NSW',
 192: 'NSW',
 193: 'NSW',
 194: 'NSW',
 195: 'VIC',
 196: 'NSW',
 197: 'NSW',
 198: 'SA',
 199: 'NSW',
 200: 'NSW',
 201: 'NSW',
 202: 'NSW',
 203: 'NSW',
 204: 'NSW',
 205: 'NSW',
 206: 'VIC',
 207: 'SA',
 208: 'NSW',
 209: 'NSW',
 210: 'SA',
 211: 'NSW',
 212: 'NSW',
 213: 'NSW',
 214: 'VIC',
 215: 'QLD',
 216: 'NSW',
 217: 'NSW',
 218: 'SA',
 219: 'NSW',
 220: 'NSW',
 221: 'VIC',
 222: 'QLD',
 223: 'NSW',
 224: 'NSW',
 225: 'TAS',
 226: 'WA',
 227: 'NSW',
 228: 'NSW',
 229: 'NSW',
 230: 'SA',
 231: 'NSW',
 232: 'NSW',
 233: 'VIC',
 234: 'NSW',
 235: 'NSW',
 236: 'TAS',
 237: 'NSW',
 238: 'NSW',
 239: 'TAS',
 240: 'VIC',
 241: 'NSW',
 242: 'NSW',
 243: 'NSW',
 244: 'NSW',
 245: 'WA',
 246: 'TAS',
 247: 'NSW',
 248: 'SA',
 249: 'TAS',
 250: 'NSW',
 251: 'NSW',
 252: 'NSW',
 253: 'NSW',
 254: 'VIC',
 255: 'TAS',
 256: 'NSW',
 257: 'NSW',
 258: 'SA',
 259: 'NSW',
 260: 'TAS',
 261: 'NSW',
 262: 'VIC',
 263: 'NSW',
 264: 'TAS',
 265: 'TAS',
 266: 'NSW',
 267: 'NSW',
 268: 'TAS',
 269: 'VIC',
 270: 'TAS',
 271: 'NSW',
 272: 'TAS',
 273: 'NSW',
 274: 'VIC',
 275: 'NSW',
 276: 'NSW',
 277: 'SA',
 278: 'NSW',
 279: 'TAS',
 280: 'SA',
 281: 'NSW',
 282: 'TAS',
 283: 'NSW',
 284: 'NSW',
 285: 'NSW',
 286: 'NSW',
 287: 'SA',
 288: 'NSW',
 289: 'NSW',
 290: 'WA',
 291: 'NSW',
 292: 'NSW',
 293: 'NSW',
 294: 'NSW',
 295: 'NSW',
 296: 'SA',
 297: 'NSW',
 298: 'NSW',
 299: 'QLD',
 300: 'SA',
 301: 'NSW',
 302: 'WA',
 303: 'TAS',
 304: 'QLD',
 305: 'NSW',
 306: 'NSW',
 307: 'WA',
 308: 'NSW',
 309: 'WA',
 310: 'VIC',
 311: 'NSW',
 312: 'TAS',
 313: 'SA',
 314: 'NSW',
 315: 'SA',
 316: 'NSW',
 317: 'TAS',
 318: 'NSW',
 319: 'TAS',
 320: 'NSW',
 321: 'NSW',
 322: 'WA',
 323: 'NSW',
 324: 'NSW',
 325: 'NSW',
 326: 'NSW',
 327: 'SA',
 328: 'WA',
 329: 'QLD',
 330: 'NSW',
 331: 'NSW',
 332: 'NSW',
 333: 'SA',
 334: 'NSW',
 335: 'SA',
 336: 'NSW',
 337: 'WA',
 338: 'VIC',
 339: 'TAS',
 340: 'NSW',
 341: 'NSW',
 342: 'TAS',
 343: 'SA',
 344: 'NSW',
 345: 'NSW',
 346: 'NSW',
 347: 'NSW',
 348: 'SA',
 349: 'TAS',
 350: 'QLD',
 351: 'NSW',
 352: 'NSW',
 353: 'TAS',
 354: 'NSW',
 355: 'NSW',
 356: 'NSW',
 357: 'NSW',
 358: 'NSW',
 359: 'VIC',
 360: 'SA',
 361: 'TAS',
 362: 'NSW',
 363: 'NSW',
 364: 'NSW',
 365: 'NSW',
 366: 'NSW',
 367: 'NSW',
 368: 'NSW',
 369: 'NSW',
 370: 'NSW',
 371: 'NSW',
 372: 'NSW',
 373: 'WA',
 374: 'NSW',
 375: 'NSW',
 376: 'WA',
 377: 'NSW',
 378: 'VIC',
 379: 'NSW',
 380: 'NSW',
 381: 'SA',
 382: 'QLD',
 383: 'WA',
 384: 'SA',
 385: 'NSW',
 386: 'NSW',
 387: 'TAS',
 388: 'NSW',
 389: 'NSW',
 390: 'NSW',
 391: 'NSW',
 392: 'NSW',
 393: 'TAS',
 394: 'NSW',
 395: 'TAS',
 396: 'NSW',
 397: 'TAS',
 398: 'NSW',
 399: 'NSW',
 400: 'NSW',
 401: 'TAS',
 402: 'NSW',
 403: 'NSW',
 404: 'NSW',
 405: 'NSW',
 406: 'NSW',
 407: 'NSW',
 408: 'NSW',
 409: 'NSW',
 410: 'NSW',
 411: 'NSW',
 412: 'SA',
 413: 'NSW',
 414: 'TAS',
 415: 'NSW',
 416: 'SA',
 417: 'NSW',
 418: 'NSW',
 419: 'NSW',
 420: 'WA',
 421: 'NSW',
 422: 'NSW',
 423: 'NSW',
 424: 'TAS',
 425: 'NSW',
 426: 'NSW',
 427: 'NSW',
 428: 'NSW',
 429: 'NSW',
 430: 'SA',
 431: 'NSW',
 432: 'SA',
 433: 'SA',
 434: 'NSW',
 435: 'VIC',
 436: 'NSW',
 437: 'NSW',
 438: 'NSW',
 439: 'QLD',
 440: 'TAS',
 441: 'NSW',
 442: 'NSW',
 443: 'NSW',
 444: 'NSW',
 445: 'SA',
 446: 'NSW',
 447: 'TAS',
 448: 'NSW',
 449: 'TAS',
 450: 'NSW',
 451: 'TAS',
 452: 'SA',
 453: 'TAS',
 454: 'NSW',
 455: 'WA',
 456: 'SA',
 457: 'SA',
 458: 'NSW',
 459: 'NSW',
 460: 'NSW',
 461: 'NSW',
 462: 'NSW',
 463: 'NSW',
 464: 'NSW',
 465: 'NSW',
 466: 'TAS',
 467: 'NSW',
 468: 'NSW',
 469: 'SA',
 470: 'SA',
 471: 'NSW',
 472: 'NSW',
 473: 'TAS',
 474: 'TAS',
 475: 'VIC',
 476: 'NSW',
 477: 'NSW',
 478: 'SA',
 479: 'SA',
 480: 'WA',
 481: 'NSW',
 482: 'NSW',
 483: 'SA',
 484: 'WA',
 485: 'NSW',
 486: 'NSW',
 487: 'SA',
 488: 'NSW',
 489: 'NSW',
 490: 'NSW',
 491: 'NSW',
 492: 'NSW',
 493: 'SA',
 494: 'NSW',
 495: 'NSW',
 496: 'VIC',
 497: 'NSW',
 498: 'NSW',
 499: 'NSW',
 500: 'NSW',
 501: 'QLD',
 502: 'NSW',
 503: 'NSW',
 504: 'SA',
 505: 'SA',
 506: 'SA',
 507: 'NSW',
 508: 'TAS',
 509: 'QLD',
 510: 'NSW',
 511: 'NSW',
 512: 'TAS',
 513: 'WA',
 514: 'NSW',
 515: 'NSW',
 516: 'QLD',
 517: 'NSW',
 518: 'NSW',
 519: 'NSW',
 520: 'QLD',
 521: 'NSW',
 522: 'NSW',
 523: 'SA',
 524: 'WA',
 525: 'QLD',
 526: 'TAS',
 527: 'TAS',
 528: 'NSW',
 529: 'NSW',
 530: 'NSW',
 531: 'NSW',
 532: 'NSW',
 533: 'NSW',
 534: 'WA',
 535: 'QLD',
 536: 'VIC',
 537: 'NSW',
 538: 'NSW',
 539: 'NSW',
 540: 'SA',
 541: 'NSW',
 542: 'NSW',
 543: 'NSW',
 544: 'SA',
 545: 'NSW',
 546: 'NSW',
 547: 'NSW',
 548: 'NSW',
 549: 'NSW',
 550: 'NSW',
 551: 'NSW',
 552: 'SA',
 553: 'NSW',
 554: 'WA',
 555: 'VIC',
 556: 'NSW',
 557: 'WA',
 558: 'TAS',
 559: 'NSW',
 560: 'NSW',
 561: 'SA',
 562: 'SA',
 563: 'SA',
 564: 'NSW',
 565: 'NSW',
 566: 'NSW',
 567: 'SA',
 568: 'NSW',
 569: 'TAS',
 570: 'SA',
 571: 'VIC',
 572: 'NSW',
 573: 'NSW',
 574: 'TAS',
 575: 'NSW',
 576: 'NSW',
 577: 'TAS',
 578: 'NSW',
 579: 'QLD',
 580: 'SA',
 581: 'QLD',
 582: 'QLD',
 583: 'NSW',
 584: 'WA',
 585: 'NSW',
 586: 'NSW',
 587: 'NSW',
 588: 'WA',
 589: 'NSW',
 590: 'NSW',
 591: 'VIC',
 592: 'NSW',
 593: 'NSW',
 594: 'NSW',
 595: 'NSW',
 596: 'NSW',
 597: 'NSW',
 598: 'NSW',
 599: 'SA',
 600: 'QLD',
 601: 'VIC',
 602: 'NSW',
 603: 'NSW',
 604: 'NSW',
 605: 'TAS',
 606: 'TAS',
 607: 'NSW',
 608: 'NSW',
 609: 'NSW',
 610: 'NSW',
 611: 'TAS',
 612: 'SA',
 613: 'VIC',
 614: 'TAS',
 615: 'NSW',
 616: 'NSW',
 617: 'SA',
 618: 'VIC',
 619: 'NSW',
 620: 'WA',
 621: 'NSW',
 622: 'NSW',
 623: 'NSW',
 624: 'VIC',
 625: 'NSW',
 626: 'SA',
 627: 'NSW',
 628: 'NSW',
 629: 'NSW',
 630: 'NSW',
 631: 'NSW',
 632: 'TAS',
 633: 'SA',
 634: 'SA',
 635: 'TAS',
 636: 'NSW',
 637: 'VIC',
 638: 'NSW',
 639: 'NSW',
 640: 'TAS',
 641: 'NSW',
 642: 'NSW',
 643: 'NSW',
 644: 'SA',
 645: 'QLD',
 646: 'WA',
 647: 'TAS',
 648: 'NSW',
 649: 'WA',
 650: 'TAS',
 651: 'VIC',
 652: 'TAS',
 653: 'NSW',
 654: 'WA',
 655: 'NSW',
 656: 'TAS',
 657: 'NSW',
 658: 'SA',
 659: 'NSW',
 660: 'TAS',
 661: 'SA',
 662: 'NSW',
 663: 'NSW',
 664: 'NSW',
 665: 'NSW',
 666: 'SA',
 667: 'NSW',
 668: 'VIC',
 669: 'SA',
 670: 'NSW',
 671: 'NSW',
 672: 'NSW',
 673: 'NSW',
 674: 'VIC',
 675: 'TAS',
 676: 'NSW',
 677: 'SA',
 678: 'SA',
 679: 'NSW',
 680: 'NSW',
 681: 'NSW',
 682: 'NSW',
 683: 'NSW',
 684: 'TAS',
 685: 'NSW',
 686: 'TAS',
 687: 'SA',
 688: 'NSW',
 689: 'NSW',
 690: 'NSW',
 691: 'NSW',
 692: 'VIC',
 693: 'NSW',
 694: 'NSW',
 695: 'NSW',
 696: 'QLD',
 697: 'NSW',
 698: 'NSW',
 699: 'NSW',
 700: 'NSW',
 701: 'NSW',
 702: 'SA',
 703: 'SA',
 704: 'VIC',
 705: 'NSW',
 706: 'NSW',
 707: 'NSW',
 708: 'SA',
 709: 'VIC',
 710: 'SA',
 711: 'NSW',
 712: 'TAS',
 713: 'NSW',
 714: 'NSW',
 715: 'NSW',
 716: 'SA',
 717: 'NSW',
 718: 'SA',
 719: 'NSW',
 720: 'NSW',
 721: 'NSW',
 722: 'NSW',
 723: 'NSW',
 724: 'NSW',
 725: 'NSW',
 726: 'NSW',
 727: 'NSW',
 728: 'VIC',
 729: 'NSW',
 730: 'SA',
 731: 'NSW',
 732: 'TAS',
 733: 'WA',
 734: 'NSW',
 735: 'TAS',
 736: 'NSW',
 737: 'SA',
 738: 'SA',
 739: 'NSW',
 740: 'NSW',
 741: 'SA',
 742: 'TAS',
 743: 'NSW',
 744: 'NSW',
 745: 'NSW',
 746: 'NSW',
 747: 'SA',
 748: 'WA',
 749: 'NSW',
 750: 'NSW',
 751: 'TAS',
 752: 'NSW',
 753: 'NSW',
 754: 'TAS',
 755: 'NSW',
 756: 'TAS',
 757: 'NSW',
 758: 'NSW',
 759: 'NSW',
 760: 'NSW',
 761: 'NSW',
 762: 'NSW',
 763: 'SA',
 764: 'TAS',
 765: 'NSW',
 766: 'SA',
 767: 'NSW',
 768: 'NSW',
 769: 'NSW',
 770: 'QLD',
 771: 'NSW',
 772: 'NSW',
 773: 'SA',
 774: 'WA',
 775: 'NSW',
 776: 'NSW',
 777: 'VIC',
 778: 'NSW',
 779: 'NSW',
 780: 'VIC',
 781: 'NSW',
 782: 'NSW',
 783: 'NSW',
 784: 'NSW',
 785: 'QLD',
 786: 'NSW',
 787: 'NSW',
 788: 'TAS',
 789: 'NSW',
 790: 'NSW',
 791: 'NSW',
 792: 'NSW',
 793: 'NSW',
 794: 'VIC',
 795: 'NSW',
 796: 'NSW',
 797: 'NSW',
 798: 'NSW',
 799: 'NSW',
 800: 'NSW',
 801: 'NSW',
 802: 'NSW',
 803: 'QLD',
 804: 'NSW',
 805: 'NSW',
 806: 'WA',
 807: 'NSW',
 808: 'NSW',
 809: 'TAS',
 810: 'NSW',
 811: 'SA',
 812: 'NSW',
 813: 'SA',
 814: 'NSW',
 815: 'NSW',
 816: 'NSW',
 817: 'SA',
 818: 'NSW',
 819: 'NSW',
 820: 'NSW',
 821: 'NSW',
 822: 'NSW',
 823: 'TAS',
 824: 'NSW',
 825: 'TAS',
 826: 'NSW',
 827: 'TAS',
 828: 'NSW',
 829: 'NSW',
 830: 'NSW',
 831: 'NSW',
 832: 'TAS',
 833: 'VIC',
 834: 'SA',
 835: 'NSW',
 836: 'SA',
 837: 'NSW',
 838: 'NSW',
 839: 'SA',
 840: 'NSW',
 841: 'NSW',
 842: 'SA',
 843: 'NSW',
 844: 'NSW',
 845: 'NSW',
 846: 'SA',
 847: 'NSW',
 848: 'TAS',
 849: 'SA',
 850: 'NSW',
 851: 'NSW',
 852: 'NSW',
 853: 'NSW',
 854: 'NSW',
 855: 'NSW',
 856: 'NSW',
 857: 'NSW',
 858: 'NSW',
 859: 'NSW',
 860: 'SA',
 861: 'SA',
 862: 'SA',
 863: 'NSW',
 864: 'TAS',
 865: 'NSW',
 866: 'WA',
 867: 'NSW',
 868: 'NSW',
 869: 'NSW',
 870: 'SA',
 871: 'NSW',
 872: 'NSW',
 873: 'SA',
 874: 'WA',
 875: 'VIC',
 876: 'NSW',
 877: 'NSW',
 878: 'NSW',
 879: 'NSW',
 880: 'NSW',
 881: 'NSW',
 882: 'NSW',
 883: 'NSW',
 884: 'NSW',
 885: 'NSW',
 886: 'NSW',
 887: 'NSW',
 888: 'VIC',
 889: 'NSW',
 890: 'SA',
 891: 'TAS',
 892: 'TAS',
 893: 'NSW',
 894: 'NSW',
 895: 'NSW',
 896: 'SA',
 897: 'NSW',
 898: 'TAS',
 899: 'WA',
 900: 'NSW',
 901: 'NSW',
 902: 'NSW',
 903: 'TAS',
 904: 'NSW',
 905: 'NSW',
 906: 'QLD',
 907: 'NSW',
 908: 'NSW',
 909: 'SA',
 910: 'NSW',
 911: 'NSW',
 912: 'NSW',
 913: 'NSW',
 914: 'NSW',
 915: 'NSW',
 916: 'SA',
 917: 'NSW',
 918: 'SA',
 919: 'NSW',
 920: 'TAS',
 921: 'NSW',
 922: 'SA',
 923: 'NSW',
 924: 'NSW',
 925: 'VIC',
 926: 'NSW',
 927: 'NSW',
 928: 'SA',
 929: 'NSW',
 930: 'NSW',
 931: 'TAS',
 932: 'NSW',
 933: 'NSW',
 934: 'SA',
 935: 'NSW',
 936: 'NSW',
 937: 'SA',
 938: 'NSW',
 939: 'NSW',
 940: 'NSW',
 941: 'VIC',
 942: 'QLD',
 943: 'NSW',
 944: 'NSW',
 945: 'VIC',
 946: 'NSW',
 947: 'SA',
 948: 'NSW',
 949: 'SA',
 950: 'NSW',
 951: 'NSW',
 952: 'NSW',
 953: 'NSW',
 954: 'NSW',
 955: 'NSW',
 956: 'NSW',
 957: 'NSW',
 958: 'TAS',
 959: 'NSW',
 960: 'NSW',
 961: 'TAS',
 962: 'NSW',
 963: 'NSW',
 964: 'NSW',
 965: 'SA',
 966: 'SA',
 967: 'NSW',
 968: 'TAS',
 969: 'NSW',
 970: 'NSW',
 971: 'NSW',
 972: 'NSW',
 973: 'NSW',
 974: 'SA',
 975: 'NSW',
 976: 'NSW',
 977: 'NSW',
 978: 'SA',
 979: 'NSW',
 980: 'NSW',
 981: 'SA',
 982: 'NSW',
 983: 'WA',
 984: 'NSW',
 985: 'NSW',
 986: 'TAS',
 987: 'WA',
 988: 'WA',
 989: 'SA',
 990: 'TAS',
 991: 'NSW',
 992: 'QLD',
 993: 'NSW',
 994: 'SA',
 995: 'WA',
 996: 'NSW',
 997: 'SA',
 998: 'TAS',
 999: 'NSW',
 1000: 'VIC',
 ...}